.MainCont{
    background-image: linear-gradient(to bottom right, rgb(231, 103, 38), rgb(241, 22, 219));
    text-align:center;
}

.topName{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(39, 12, 210);
    font-size:55px;
    height:80px;
    width:100%;
    text-align:center;
    padding-top:5px;
    color:aliceblue;
}

.showData{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    color: rgb(240, 228, 47);
}

.showDataim{
    height: 100px;
    width: 100px;
    align-items: center;
}

.TTitile{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 35px;
    font-style: italic;
    color: rgb(25, 0, 255);
}